#services{
    position: relative;
    font-size: 100%;
    min-height: 100%;
    line-height: 1.5;
}

#services::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(to top, var(--light-purple), var(--white) 70%);
    z-index: -1;
    animation: deplacement-vertical 2s ease-in-out infinite;
}

@keyframes deplacement-vertical {
    0% { top: 50%;}
    50% { top: 51%;}
    100% { top: 50%;}
}

@media screen and (min-width: 1024px){
    #services::before{
        width: 500px;
        height: 500px;
    }
}

