.modal{
    position: fixed;
    width: 90%;
    height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;  
    backdrop-filter: blur(15px);
    z-index: 999999;
}

.modal > svg{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    fill: var(--deep-black);
    cursor: pointer;
    transition: all 250ms;
}

.modal > svg:hover{
    fill: red;
    transition: all 250ms;
}

.modal > div > img{
    width: 70%;
}

#tech{
    justify-content: space-around;
}

#tech > svg{
    width: 50px;
    height: 50px;
}

@media screen and (min-width: 1024px){
    .modal{
        width: 900px;
        height: 500px;
    }
}